*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background);
    color: var(--text);
}
/*ui colors*/
:root {
  --text: #f2eceb;
  --background: #000000;
  --primary: #002857;
  --secondary: #3c6576;
  --accent: #749aa3;
}
/*navigation bar*/

.navbar ul {
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
  text-align: center;
}
.navbar ul:hover {
  background-color: #000000;
}
.navbar li {
  float: right;
}